.app {
    padding: 2rem;
}

.header {
    text-align: center;
    margin-bottom: 2rem;
    color: #ff00aa;
}

.header h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
} 

                /* forms */

.form-container {
    max-width: 610px;
    margin: 0 auto;
    background-color: gray;
    padding: 1.8rem;
    box-shadow: gray 0px 5px 30px 10px;
    border-radius: 15px;
}

.form-container form {
    max-width: 410px;
    margin: 0 auto;
}

.inputs-container {
    min-height: 350px;
    margin-top: 1rem;
}

.form-control {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    margin-bottom: 4rem;
}

label {
    font-weight: bold;
    color: hsla(320, 100%, 63%, 0.432);
    font-size: 1.2rem;
}

input, textarea {
    padding: 0.6rem;
    border: none;
    border-radius: 3px;
    box-shadow: rgb(77, 76, 76) 0px 6px 30px 10px;
    color: rgb(0, 0, 0);
}

textarea {
    height: 130px;
}

        /* actions */

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 1.3rem;
}

.actions button {
    font-size: 1rem;
    padding: .6rem 1.2rem;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 2px;
    gap: 0.5rem;
    cursor: pointer;
    background-color: #f9fafc;
    font-weight: 500;
    color: #ff00aa;
    transition: 1s;
}

.actions button:hover {
    color: #f9fafc;
    background-color: hsla(320, 100%, 63%, 0.432);;
} 
